.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header1 {
  font-size: 32px;
}

.header2 {
  font-size: 16px;
}

.searchButton {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  padding: 5px;
  background-color: white;
  border: 2px solid #4895ef;
  transition: all 250ms ease-in-out;
}

.searchButton:hover {
  transform: scale(1.05);
  border: 2px solid #3f37c9;
}

.rangeInput {
  height: 50px;
  border-radius: 20px;
  border: 2px solid #ddd;
  padding: 5px;
  outline: none;
  text-align: center;
}

.rangeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px;
}
